$mainGrey: #EEEEEE;
$darkGrey: #8D8D8D;
$colorText : #5e5e5e;
$mainBlue: #02205E;
.ant-modal-mask{
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}
.ant-modal-content{
 
    background-color: transparent !important;
    box-shadow: none !important;

    .messageAfterSignup{
        margin-top: 20vh;
    }
    button:active, button:focus{
        outline: none;
    }
    .ant-modal-close{
        color: #ffffff;
        top: -50px;
        right: -50px;
        
    }
    .image{

        img{
            min-height: 10vh;
            object-fit: cover;
            width: 100%;
        }
    }
    .containerForm{
        width: 400px;
        height: 550px;
        overflow-y: scroll;
        
        background-color: #ffffff;
        border-radius: 25px;
        -webkit-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
        -moz-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
        box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
        text-align: center;
        padding:1em;

        .mainLogo{
            width: 80%;
        }
        h2{
            margin: 1em 0 0.5em 0;
            font-size: 2.5em;  
            color: $mainBlue;
        }

        a{
            color: $mainBlue;
        }
        .ant-input , .ant-input-password, .ant-select{
            
            .ant-select-selector{
                border-radius: 50px;
                border: none;
                .ant-select-selection-placeholder, .ant-select-selection-item{
                    text-align: left;
                }
            }
            border-radius: 50px; 
            border: 1px solid $darkGrey;
            input{
                border: none;
            }
        }
        .ant-checkbox{
            .ant-checkbox-inner{
                border-radius: 50%;
            }
        }
        .buttonsAuth{
            margin: 0em 0 1em 0;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                margin: 1em;
                border-radius: 50px ;
                background-color: $mainBlue;
                color: #ffffff;
                border: none;
            }
        }
        .facebookAuth{
            margin: 0em 0 1em 0;
            width: 30px;
        }
        
    }
    
    .containerProductModal{
        width: 800px;
        height: 400px;
        background-color: #ffffff;
        border-radius: 25px;
        -webkit-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
        -moz-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
        box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
        text-align: center;
        padding:1em;
    }
    .ant-modal-footer{
        display: none;
    }
    
}


.ant-select-dropdown{
    border-radius: 25px !important;
}

@media screen and (max-width: 414px) and (orientation : portrait){
        .ant-modal-wrap{
            overflow: hidden !important;
            .containerForm{
                width: 100%;
            }
        }
}