$darkGrey: #8D8D8D;
.carritoMain{
    width: 100%;
    height: 100%;
    display: flex;
    
    >div{
          height: 100%;
    }
    .carritoLeft{
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        svg{
            font-size: 25vw;
            color: $darkGrey;
        }
        img{
            width: 25vw;
        }
        .backArrow{
            position: absolute;
            left: 5%;
            top: 90%;
            svg{
                font-size: 2vw;

            }
        }


    }
    .carritoRight{
        .carrito{
            width: 70vw;
            margin: 0;
            height: 60vh;
            overflow-y: scroll;
            .targetSubCategory{
                padding: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .emptyCart{
                    width: 100%;
                    height: 40vh;
                    position: relative;
                    text-align: center;
                    h2{
                        color: $darkGrey;
                        font-size: 3vw;
                    }
                    a{
                        color: $darkGrey;
                        font-size: 2vw;
                    }
                    img{
                        width: 25%;
                        position: absolute;
                        top: 80%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                    }
                }
                .productItem:hover{
                    -webkit-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.8);
                    -moz-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.8);
                    box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.8);                
                }
                .productItem{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    margin-bottom: 3%;
                    width: 65vw;
                    height: 15vh;
                    border-radius: 7vh;
                    -webkit-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                    -moz-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                    box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                    cursor: pointer;
                    transition: 0.2s ease-in-out;

                    .image{
                        width: 20%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            height: 100%;
                        }
                    }
                    .titulo{
                        height: 100%;
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        h2{
                            margin: 2vh;
                            font-size: 1.7vw;
                        }
                        span{
                            font-size: 1vw;
                        }
                    }
                    .simbols{
                        height: 100%;
                        width: 30%;
                        display: flex;
                        font-size: 2.2rem;
                        position: relative;
                        .price{
                            width: 50%;
                            color: $darkGrey;
                            position: relative;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .productDescuento{
                                position: absolute;   
                                text-align: center;
                                color: $darkGrey;
                                left: 0%;
                                top: 15%;
                                width: 100%;
                                font-size: 0.8vw;
                                .sub{
                                    text-decoration: line-through;
                                }
                            }
                        }
                        .functions{
                            width: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 2.2rem;
                            .circle{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 3vh;
                                width: 3vh;
                                border-radius: 50%;
                                cursor: pointer;
                            }
                            .number{
                                margin:5%;
                                color: $darkGrey;
                            }
                            .iconDelete{
                                margin: 0 1vw 0 1vw;
                                color: $darkGrey
                            }
                        }

                    }
                }

            }
        }
        
    }
    .totals{
       padding-right: 5%;
       float: right; 
       font-size: 2.5rem;
       display: flex;
       flex-direction: row;
       align-items: center;
        .value{
            margin-right: 5vw;
        }
    }
}