$darkGrey: #8D8D8D;
$mainBlue: #02205E;
$mainGrey: #f0f0f0;
$colorTarget: #f4f4f4;
$mainYellow: #FCD330;
$colorText : #5e5e5e;

.carritoMain{
    width: 1500px;
    height: 100%;
    display: flex;
    position: relative;
    padding: 2%;
    .carritoLeft{
        width: 950px;
        height: 80vh;
        -webkit-box-shadow: 2px 6px 18px -6px rgba(78, 29, 29, 0.2);
        -moz-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        position: relative;
        background-color: #fff;
        margin-right: 50px;
        padding: 2%;
        
        .titleCarrito{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            >h1{
                color: $mainBlue;
            }
            span{
                svg{
                    padding-bottom: 10px;
                }
                color: $mainBlue;
                font-size: 1.5em;
            }
        }
        .containerProducts{
            width: 100%;
            height: 90%;
            overflow-y: scroll;
            padding: 20px;
            .emptyCart{
                text-align: center;
                width: 100%;
                margin-top: 200px;
                h1{
                    color: $mainBlue;
                    font-size: 5em;
                }
                button{
                    padding: 20px;
                    font-size: 2em;
                    color: $mainBlue;
                    background-color: $mainYellow !important;
                }
            }
            .productItem{
                width: 100%;
                height: 120px;
                background-color: $colorTarget;
                margin-bottom: 35px;
                border-radius: 20px;
                -webkit-box-shadow: 2px 6px 18px -6px rgba(78, 29, 29, 0.2);
                -moz-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.2);
                box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.2);
                display: flex;
                overflow: hidden;
                >div{
                    height: 100%;               
                }
                .productImg{
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 40%;
                    }
                }
                .productInfo{
                    width: 50%;
                    padding: 10px;
                    >div{
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        .priceDescount{
                            margin: 0 0 0 10px;
                            font-size: 1.4em;
                            text-decoration: line-through;
                        }
                       
                    }
                    *{
                        color: $mainBlue;
                    }
                    h2{
                        font-size: 1.7em;
                    }
                    .price{
                        font-size: 1.7em;
                    }
                    .productDesc{
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        text-overflow: ellipsis;
                    }

                }
                .productAction{
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        font-size: 1.7em;
                    }
                    button{
                        height: 40px;
                        width: 40px;
                        border-radius: 10px;
                        background-color: $mainYellow !important;
                        color: $mainBlue;
                        margin: 10px;
                        position: relative;
                        span{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            -webkit-transform: translate(-50%, -50%);
                            height: 40px;
                            width: 40px; 
                        }
                    }
                    svg{
                        font-size: 1em;
                        margin: 10px;
                        cursor: pointer;
                    }
                }
            }
        }

    }
    .carritoRight{
        width: 400px;
        height: 500px;
        -webkit-box-shadow: 2px 6px 18px -6px rgba(252,211,48,0.71);
        -moz-box-shadow: 2px 6px 18px -6px rgba(252,211,48,0.71);
        box-shadow: 2px 6px 18px -6px rgba(252,211,48,0.71);
        border-radius: 25px;
        position: relative;
        background-color: #FCD330;
        padding: 2%;
        .confirmCart{
            width: 100%;
            height: 100%;
            overflow: hidden;
            .info{
                width: 100%;
                text-align: left;
                padding-top: 0vh;
                height: 50%;
                padding-top: 20px;
                .ant-input{
                    width: 90%;
                    border-radius: 20px; 
                    border: 1px solid $darkGrey;
                    
                }
                .ant-checkbox-wrapper, .ant-input{
                    margin: 30px 0 0 20px;
                }
                .ant-checkbox{
                    .ant-checkbox-inner{
                        border-color: rgba($color: $mainBlue, $alpha: 0.5);
                        border-radius: 50%;
                    }
                }
                .ant-checkbox-wrapper-checked{
                    .ant-checkbox-inner{
                        background-color: $mainBlue;
                        border-color: $mainBlue;
                    }
                }
            }
            .buttons{
                width: 100%;
                padding-top: 20px;
                text-align: center;
                .totalsCarrito{
                  width: 90%;
                  height: 100px;  
                  text-align: right;
                  .subTotal{
                    font-size: 1.5em;
                    width: 100%;
                    text-align: right !important;
                    color: $mainBlue;
                    }
                    .total{
                        font-size: 2em;
                    }
                }
                
                span{
                    color: $mainBlue;
                    
                }
                button{
                    margin: 0.5vw;
                }
            }
    
        }
        
    }
}

@media screen and (max-width: 1440px) {
    .carritoMain{
        width: 1300px;
        .carritoLeft{
            height: 75vh;
            .containerProducts{
                .emptyCart{
                    margin-top: 100px;
                }
            }
        }
        .carritoRight{
            padding: 1%;
        }
    }
}

@media screen and (max-width: 1112px) {
    .carritoMain{
        width: 1000px;
        .carritoLeft{
            width: 650px;
            height: 75vh;
            .titleCarrito{
                h1{
                    font-size: 1.5em;
                }
                span{
                    svg{
                        font-size: 1.5em;
                    }
                    font-size: 1em;
                }
            }
            .containerProducts{
                .productItem{
                    .productImg{
                        img{
                            width: 90%;
                        }
                    }
                    .productInfo{
                        width: 40%;
                    }
                    .productAction{
                        width: 30%;
                        span{
                            font-size: 1.3em;
                        }
                        button{
                            height: 30px;
                            width: 30px;
                            margin: 5px;
                            span{
                                top: 60%;
                                left: 50%;
                            }
                        }
                    }
                }
            }
        }
        .carritoRight{
            width: 300px;
            padding: 10px;
            .confirmCart{
                .info{
                    padding-top: 10px;
                    height: 40%;
                }
            }
        }
    }
}