$mainGrey: #EEEEEE;
$darkGrey: #6c6c6c;
$mainBlue: #02205E;

.mainContent {
    .mainContainerCategory {
        width: 100%;
        height: 100%;

        .categoriesTargets {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            >div {
                h1 {
                    margin-left: 25px;
                    color: $mainBlue;
                }

                width: 1500px;
                padding: 1%;

                .sliderCategory {
                    .categoryTarget:hover {
                        -webkit-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.8);
                        -moz-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.8);
                        box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.8);
                    }

                    .categoryTarget {
                        width: 450px;
                        margin: 10px 20px 10px 20px;
                        height: 200px;
                        border-radius: 25px;
                        cursor: grab;
                        -webkit-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.4);
                        -moz-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.4);
                        box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.4);
                        position: relative;
                        transition: 0.2s ease-in-out;
                        overflow: hidden;
                        background-color: #ffffff;

                        img {
                            position: absolute;
                            top: 60%;
                            left: 0%;
                            transform: translate(0%, -50%);
                            -webkit-transform: translate(0%, -50%);
                            width: 60%;
                        }

                        h2 {
                            position: absolute;
                            top: 50%;
                            left: 77%;
                            transform: translate(-50%, -50%);
                            -webkit-transform: translate(-50%, -50%);
                            color: $mainBlue;
                            font-size: 1.7vw;
                            width: 45%;
                            text-align: center;
                        }
                    }
                }
            }

        }

        .offerBrand {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;

            >div {
                width: 1500px;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 1%;

                >div {
                    width: 50%;
                    padding: 20px;

                    h2 {
                        color: $mainBlue;
                    }
                }

                .offer {
                    .alertDrag {
                        float: right;
                        margin: 0 1vw 0 0;
                    }

                    .offerSlider {
                        .targetOffer:hover {
                            -webkit-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.8);
                            -moz-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.8);
                            box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.8);
                        }

                        .targetOffer {
                            width: auto;
                            height: 250px;
                            background: #ffffff;
                            border-radius: 25px;
                            -webkit-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.4);
                            -moz-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.4);
                            box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.4);
                            position: relative;
                            overflow: hidden;
                            margin: 20px;
                            transition: 0.2s ease-in-out;

                            .back {
                                border-radius: 50%;
                                position: absolute;
                                top: 50%;
                                left: 15%;
                                transform: translate(-50%, -50%);
                                -webkit-transform: translate(-50%, -50%);
                                width: 20vw;
                                height: 20vw;
                                background: linear-gradient(270deg, rgba(2, 32, 94, 1) 20%, rgba(11, 70, 189, 1) 100%);
                            }

                            img {
                                position: absolute;
                                top: 70%;
                                left: 20%;
                                transform: translate(-50%, -50%);
                                -webkit-transform: translate(-50%, -50%);
                                z-index: 2;
                                width: 40%;
                            }

                            h2 {
                                position: absolute;
                                transform: translate(-50%, -50%);
                                -webkit-transform: translate(-50%, -50%);
                                width: 50%;
                                top: 50%;
                                left: 75%;
                                text-align: center;
                                color: $mainBlue;
                            }

                        }
                    }

                }

                .brands {
                    .sliderBrand {

                        .targetBrand:hover {
                            -webkit-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.8);
                            -moz-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.8);
                            box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.8);
                        }

                        .targetBrand {
                            width: auto;
                            height: 200px;
                            background: #ffffff;
                            border-radius: 25px;
                            -webkit-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.4);
                            -moz-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.4);
                            box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.4);
                            display: flex;
                            margin: 20px;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            transition: 0.2s ease-in-out;

                            img {
                                width: 60%;
                            }
                        }
                    }

                }

            }
        }
    }

}

//message verificacion
.messageVerification {


    .ant-message-notice-content {
        border-radius: 50px;

        .ant-message-success, .ant-message-loading {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-size: 1.5em;
            }
        }

    }
}
.ant-notification {
    .notificationCarrito{
        .ant-notification-notice-icon{
            font-size: 2em;
        }
        .ant-notification-notice-message{
            font-size: 1.5em;
        }
        border-radius: 25px;
        span{
            font-size: 1em;
        }
    }
}


.react-multiple-carousel__arrow--left {
    left: 0% !important;
}

.react-multiple-carousel__arrow--right {
    right: 0 !important;
}

.BrainhubCarousel__arrows {
    span {
        width: 20%;
    }
}

@media screen and (max-width: 1440px) {
    .mainContent {
        .mainContainerCategory {
            .categoriesTargets {
                >div {
                    padding: 0 20px 0 20px;
                    width: 1300px;

                    h1 {
                        margin-left: 0;

                    }

                    .categoryTarget {
                        width: 400px !important;
                        height: 200px !important;
                    }
                }
            }

            .offerBrand {
                >div {
                    width: 1300px;

                }
            }
        }
    }
}

@media screen and (max-width: 1112px) {
    .mainContent {
        .mainContainerCategory {
            .categoriesTargets {
                >div {
                    padding: 0 20px 0 20px;
                    width: 1000px;

                    h1 {
                        margin-left: 0;

                    }

                    .categoryTarget {
                        width: 300px !important;
                        height: 200px !important;
                    }
                }
            }

            .offerBrand {
                >div {
                    width: 1000px;

                    .back {
                        width: 30vw !important;
                        height: 30vw !important;
                        left: 5% !important;
                    }
                }
            }

            .brands {
                .targetBrand {
                    width: 150px !important;
                    height: 150px !important;
                }
            }
        }
    }
}


// tablets portrait
@media screen and (max-width: 1024px) and (max-aspect-ratio: 13/9)
 {
    .mainContent {
        .mainContainerCategory {
            .categoriesTargets {
                height: 33%;

                >div {
                    .BrainhubCarousel__container {
                        .categoryTarget {
                            h2 {
                                font-size: 1.5em;
                            }
                        }
                    }
                }
            }

            .offerBrand {
                height: 77%;

                >div {
                    display: block;

                    >div {
                        width: 100%;
                        height: 50%;
                    }

                    .offer {

                        .targetOffer {
                            height: 350px !important;

                            .back {
                                width: 70vw !important;
                                height: 70vw !important;
                            }

                            img {
                                width: 50%;
                                top: 55%;
                                left: 30%;
                            }

                            h2 {
                                font-size: 3em;
                            }
                        }

                    }

                    .brands {

                        .targetBrand {
                            width: auto !important;
                            height: 250px !important;
                        }

                    }
                }
            }
        }
    }


}

@media screen and (max-width: 834px) and (max-aspect-ratio: 13/9)
 {
    .mainContent {
        .mainContainerCategory {
            .categoriesTargets {
                >div {
                    padding: 0 !important;
                    width: 800px;

                    .categoryTarget {
                        width: auto !important;
                        height: 200px !important;
                    }
                }
            }

            .offerBrand {
                >div {
                    width: 800px;

                    .offer {
                        .targetOffer {
                            height: 250px !important;

                            .back {
                                width: 70vw !important;
                                height: 70vw !important;
                            }
                        }

                    }

                    .brands {
                        .targetBrand {
                            width: auto !important;
                            height: 150px !important;
                        }

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) and (max-aspect-ratio: 13/9)
 {
    .mainContent {
        .mainContainerCategory {
            .categoriesTargets {
                >div {
                    padding: 0 10px 0 10px;
                    width: 700px;

                    .categoryTarget {
                        width: 220px !important;
                        height: 170px !important;

                        h2 {
                            font-size: 1.3em !important;
                        }
                    }
                }
            }

            .offerBrand {
                >div {
                    width: 700px;
                }
            }
        }
    }
}

@media screen and (max-width: 414px) and (max-aspect-ratio: 13/9)
 {
    .mainContent {
        .mainContainerCategory {
            .categoriesTargets { 
                height: auto !important;

                >div {
                    h1 {
                        font-size: 2em;
                    }

                    ;
                    width: 350px;

                    >div {
                        padding: 10px 0 10px 0;
                    }

                    .categoryTarget {
                        width: auto !important;
                        height: 140px !important;
                        margin: 5px 20px 0 20px !important;

                        h2 {
                            font-size: 1.3em !important;
                        }
                    }
                }
            }

            .offerBrand {
                height: auto;
                >div {
                    width: 350px;
                    padding: 0;

                    >div {
                        padding: 10px 0 10px 0;

                        h2 {
                            font-size: 1.5em;
                        }
                    }
                    .offer {
                        .targetOffer {
                            width: auto !important;
                            height: 140px !important;
                            margin: 10px !important;

                            .back {
                                width: 40vw !important;
                                height: 40vw !important;
                            }

                            img {
                                width: 50%;
                                top: 55%;
                                left: 30%;
                            }

                            h2 {
                                font-size: 1.3em;
                            }
                        }
                    }

                    .brands {
                        margin-bottom: 30px;
                        .targetBrand {
                            margin: 10px !important;
                            width: auto !important;
                            height: 100px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) and (max-aspect-ratio: 13/9)
{
    .mainContent{
        .mainContainerCategory{
            height: 100vh;
            .categoriesTargets{
                >div{
                    width: 310px;
                    .categoryTarget{
                        height: 100px !important;
                        width: 80% !important;
                    }
                }

            }
            .offerBrand{
                >div{
                    width: 310px;
                    .offer{
                        .targetOffer{
                            width: auto !important;
                            height: 100px !important; 
                        }
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width: 896px) and (max-height: 414px) and (min-aspect-ratio: 13/9)

{
    .mainContent{
        .mainContainerCategory{
            .categoriesTargets{
                >div{
                    width: 700px !important ;
                    .categoryTarget{
                        width: 200px !important;
                        height: 100px !important;
                    }
                }
            }

            .offerBrand{
                >div{
                    width: 700px !important;
                    >div{
                        h2{
                            font-size: 1.3em;
                        }
                    }
                    .offer{
                        .targetOffer{
                            width: auto !important;
                            height: 150px !important;
                        }
                    }

                    .brands{
                        .targetBrand{
                            margin: 5px !important;
                            width: 100px !important;
                            height: 100px !important;
                        }
                    }
                }
            }
        }
    }

    .react-multiple-carousel__arrow {
        display: none;
    }
}