$mainGrey: #EEEEEE;
$darkGrey: #6c6c6c;
$mainBlue: #2FAFFF;
.mainContent{

    .offer{
        position: absolute;
        width: 70vw;
        height: 30vh;
        top: -10vh;
        left: 30vw;
        padding: 1vw;

        .alertDrag{
            float: right;
            margin: 0 1vw 0 0;
        }
        .BrainhubCarousel__container{
            overflow-x: hidden ;
            overflow-y: inherit;    
            cursor: grab;
            div{
                
                overflow: inherit;
    
                ul{
                    overflow: inherit !important;
                }
            }

            .targetProductsIndex:hover{
                -webkit-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.8);
                -moz-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.8);
                box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.8);
            }

            .targetProductsIndex{
                width: 17vw;
                height: 11vw;
                background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
                border-radius: 5%;
                -webkit-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                -moz-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                position: relative;
                overflow: hidden;
                margin: 1vw;
                transition: 0.2s ease-in-out;

                .productPrice,  .productDescription{
                    position: absolute;
                    
                    transform: translate(-50%, 0%);
                    -webkit-transform: translate(-50%, 0%);   
                    width: 50%;
                    text-align: center;
                    color: $darkGrey;
                }
                .productDescription{
                    left: 50%;
                    top: 18%;
                    width: 100%;
                    font-size: 0.7vw;
                }
                .productPrice{
                    left: 70%;
                    font-size: 1.2vw;
                    top: 45%;
                }
                h3{
                    position: absolute;
                    top: 10%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);   
                    width: 100%;
                    text-align: center;
                    color: $darkGrey;
                    font-size: 1vw;
                }

                img{ 
                    width: 50%;
                    position: absolute;
                    top: 65%;
                    left: 25%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                }

                button{
                    position: absolute;
                    top: 87%;
                    left: 70%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    font-size: 0.7vw;
                }
                >div{
                    position: absolute;
                    top: 70%;
                    left: 70%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    >div{
                        width: 1.5vw;
                        height: 1.5vw;
                        background-color: $mainBlue ;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #ffffff;
                        margin: 0 0.5em 0 0.5em ;
                        transition: 0.2s ease-in-out;
                    }
                    >div:hover{
                        background-color: rgba($color: $mainBlue, $alpha: 0.8);
                    }
                    span{
                        color: $darkGrey;
                    }
                }
            }
        }

        h2{
            font-size: 2vw;
            color: $darkGrey;
        }

        

    }
    .categoriesTargets{
        .BrainhubCarousel__container{
            overflow: inherit ;
            margin-top: 30vh;
            div{
                overflow: inherit ;
    
                ul{
                    overflow: inherit !important;
                }
            }
    
            .categoryTarget:hover{
                -webkit-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.8);
                -moz-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.8);
                box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.8);
            }
            .categoryTarget{
                width: 25vw;
                margin: 0 5vw 0 5vw;
                height: 45vh;
                border-radius: 10%;
                cursor: grab;
                -webkit-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                -moz-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                position: relative;
                transition: 0.2s ease-in-out ;
                
                img{
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    width: 95%;
                }
    
                h2{
                    position: absolute;
                    top: 90%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%); 
                    color: #ffffff;
                    font-size: 2vw;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    

        
}

//message verificacion
.messageVerification{
    position: absolute;
    left: 5%;
    margin-top: 90vh;
    .ant-message-notice-content{
        border-radius: 50px;
    }
}