$darkGrey: #8D8D8D;
$mainBlue: #02205E;
$mainGrey: #f0f0f0;
$colorTarget: #f4f4f4;
$mainYellow: #FCD330;
$colorText : #5e5e5e;
.pedidosMain{
    width: 1000px;
    height: 100%;
    display: flex;
    padding: 2%;
    .pedidosRight{
        width: 100%;
        h2{
            color: $mainBlue;
        }
        .pedidos{
            width: 100%;
            margin: 0;
            height: 70vh;
            overflow-y: scroll;
            background-color: #ffffff;
            border-radius: 25px;
            -webkit-box-shadow: 2px 6px 18px -6px rgba(78, 29, 29, 0.2);
            -moz-box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 6px 18px -6px rgba(0, 0, 0, 0.2);
            .targetSubCategory{
                padding: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .productItem{
                    background-color:$colorTarget;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    margin-bottom: 3%;
                    width: 100%;
                    height: 10vh;
                    border-radius: 25px;
                    -webkit-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                    -moz-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                    box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                    >div{
                        font-size: 1.5rem;
                        margin: 2%;
                        color: $mainBlue;
                    }
                }
            }
        } 
    }
}

@media screen and (max-width: 414px) and (max-aspect-ratio: 13/9)
{

    .pedidosMain{
        width: 370px;
        padding: 1%;
        .pedidosRight{
            .pedidos{
                .targetSubCategory{
                    padding: 1em;
                    .productItem{
                        >div{
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 896px) and (max-height: 414px) and (min-aspect-ratio: 13/9)

{
    .pedidosMain{
        width: 700px;
        .pedidosRight{
            .pedidos{
                .targetSubCategory{
                    .productItem{
                        height: 100px;
                        >div{
                            font-size: 1.3em;
                        }
                    }
                }
            }
        }
    }
}