$darkGrey: #8D8D8D;
.productMain{
    width: 100%;
    height: 100%;
    display: flex;
    
    >div{
          height: 100%;
    }
    .productLeft{
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img{
            width: 18vw;
            margin: 1em;
        }

        .backArrow{
            position: absolute;
            left: 5%;
            top: 90%;
            svg{
                font-size: 2vw;
            }
        }
        .productElements{
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            height: auto;
            justify-content: center;
            align-items: center;
            .productPrice{
                display: flex;
                flex-direction: row;
                width: 30vw;
                justify-content: center;
                align-items: center;
                margin: 1em;
                .mainPrice{
                    font-size: 2.5vw;
                    margin: 1em;
                    position: relative;
                    .discounPrice{
                        position: absolute;
                        font-size: 1vw;
                        width: 100%;
                        top: -50%;
                        left: 50%;
                        transform: translate(-50%, 0%);
                        -webkit-transform: translate(-50%, 0%);  
                        text-decoration: line-through;
                    }
                    .percentRight{
                        position: absolute;
                        font-size: 1vw;
                        width: 100%;
                        top: -50%;
                        left: 100%;
                        transform: translate(-50%, 0%);
                        -webkit-transform: translate(-50%, 0%); 
                    }
                }
                .simbols{
                    display: flex;
                    width: 10vw;
                    justify-content: center;
                    align-items: center;
                    margin-top: 1em;
                    .circle{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 2vw;
                        width: 2vw;
                        border-radius: 50%;
                        cursor: pointer;
                        font-size: 1.5vw;
                    }
                    .number{
                        margin:5%;
                        font-size: 1.5vw;
                    }
                }
            }
            .addCart{
                margin: auto;
                // width: 15vw;
                font-size: 1.5vw;
            }
        }

    }
    .productRight{
        width: 70vw;
        margin: 0;
        overflow-y: scroll;

        .empty{
            text-align: center;
            width: 100%;
            h2{
                font-size: 4vw;
                padding: 1vw;
                color: $darkGrey;
            }
            svg{
                font-size: 10vw;
                color: $darkGrey;
            }
            a{
                font-size: 3vw;
                padding: 1vw;
                color: $darkGrey;
            }
        }

        .targetSubProduct{
            // height: 80vh;
            cursor: pointer;
            padding: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            .productTarget{
                background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
            }
            >div:hover{
                -webkit-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.8);
                -moz-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.8);
                box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.8);
            }
            >div{
                width: 20vw;
                height: 20vw;
                border-radius: 25px;
                -webkit-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                -moz-box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                box-shadow: 2px 6px 18px -6px rgba(0,0,0,0.4);
                transition: 0.3s ease-in-out;
                 >div{
                    width: 20vw;
                    height: 20vw;
                    position: relative;
                    img{
                        width: 60%;
                        max-height: 15vw;
                        position: absolute;
                        top: 55%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);  
                    }
                    h2, .productDescription, .productPrice, .productInit{
                        position: absolute;
                        top: 5%;
                        left: 50%;
                        width: 100%;
                        text-align: center;
                        transform: translate(-50%, 0%);
                        -webkit-transform: translate(-50%, 0%);  
                        font-size: 1.3vw;
                    }
                    h2{
                        padding: 0 1vw 0 1vw;
                    }
                    .productDescription{
                        top: 15%;
                        font-size: 0.7vw;
                    }
                    .productPrice{
                        top: 88%; 
                        font-size: 1.5vw;
                    }
                    .productInit{
                        font-size: 1vw;
                        top: 82%;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}