$mainGrey: #fbfbfc;
$darkGrey: #8D8D8D;
$colorText : #5e5e5e;
$mainBlue: #02205E;
$mainYellow: #FCD330;
.mainLayout{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: $mainGrey;
    header{
        position: fixed;
        width: 100%;
        background-color: $mainBlue;
        display: flex;
        justify-content: center;
        -webkit-box-shadow: 0px 16px 16px -15px rgba(0,0,0,0.68);
        -moz-box-shadow: 0px 16px 16px -15px rgba(0,0,0,0.68);
        box-shadow: 0px 16px 16px -15px rgba(0,0,0,0.68);
        >div{
            width: 1400px;
            display: flex;
            height: 100px;
            .containerMainLogo{
                height: 100px;
                width: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 300px;
                }
            }
            .searchBar{
                width: 40%;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                .ant-select{
                    margin-top: 30px;
                    width: 80%;
                    height: 50px;
    
                    .ant-input-affix-wrapper{
                        background-color: $mainGrey;
                        height: 50px;
                        border-radius: 24px;
                        border: none;
                        input{
                            background-color: transparent;
                        }
                        svg{
                            font-size: 15pt;
                            color: $mainBlue;
                        }
                    }
                }
            }
    
            .menu{
                width: 35%;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                .socialMediaIcons{
                    display: flex;
                    a{
                        color: #fff;
                        font-size: 1em;
                        margin: 10px;
                        svg{
                            width: 25px;
                            height: 25px;
                        }
                    }
                    margin-right: 50px;;
                }
                .iconCart{
                    font-size: 25pt;
                    color: $mainGrey;
                }
                button{
                    background-color: #ffffff !important;
                    color: $mainBlue;
                    font-size: 1em;
                }
    
                .profileUser{
                    background-color: $mainGrey;
                    cursor: pointer;
                    margin: 20px;
                    svg{
                        font-size: 25pt;
                        color: $mainBlue;
                    }
                }

                .cart{
                    .ant-badge-count{
                       background-color: $mainYellow;
                       color: $mainBlue; 
                       box-shadow: none;
                    }
                }
            }
        }

    }
    .mainContent{
        position: absolute;
        width: 100vw;
        height: calc(100vh - 135px);
        top: 100px;
        left: 0;
        display: flex;
        justify-content: center;
        
    }
    button{
        border-radius: 50px ;
        background-color: $mainBlue !important;
        color: #ffffff;
        border: none;
    }
    button:active, button:focus{
        background-color: $mainBlue;
        color: #ffffff; 
        outline: none;
    }
    button:hover {
        background-color: rgba($color: $mainBlue, $alpha: 0.8) !important;
        color: #ffffff;
    }

    .footer{
        position: absolute;
        width: 100vw;
        height: 35px;
        top: 100vh;
        left: 0vw;
        background-color: $mainGrey;
        transform: translate(0%, -100%);
        -webkit-transform: translate(0%, -100%); 
        // display: ;
        >div{
            display: flex;
            align-items: center;
            float: right;
            height: 30px;
            svg{
                width: 25px;
                height: 25px;
                margin-right: 1em;
                color: $mainBlue;
                font-size: 10pt;
            }
        }
        span{
            color: $mainBlue;
            float: right;
            margin-right: 20px;
            a{
                color: $mainBlue;
            }
            
        }
    }
}

.ant-dropdown{
    border-radius: 25px;
    ul{
        border-radius: 15px;
        padding: 10px;
    }
    .logOutButton{
        color: #FC3740;
        
    }
}

@media screen and (max-width: 1366px) {
    .mainLayout{
        header{
            >div{
                width: 1300px;
                .searchBar{
                    width: 40%;
                }
                .menu{
                    width: 35%;
                }
            }
        }
    }
}

@media screen and (max-width: 1112px) {
    .mainLayout{
        header{
            >div{
                width: 1000px;
                .containerMainLogo{
                    img{
                        width: 250px;
                    }
                }
                .searchBar{
                    width: 40%;
                    .ant-select{
                        height: 40px;
                        .ant-input-affix-wrapper{
                            height: 40px;
                            border-radius: 20px;
                        }
                    }
                }
                .menu{
                    width: 35%;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .mainLayout{
        header{
            >div{
                width: 1000px;
                .containerMainLogo{
                    img{
                        width: 200px;
                    }
                }

                .menu{
                    width: 35%;
                    .socialMediaIcons{
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}