$mainGrey: #EEEEEE;
$darkGrey: #8D8D8D;
$colorText : #5e5e5e;
$mainBlue: #2FAFFF;
.mainLayout{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;

    .leftContainer{
        width: 30%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .containerLogos{
            position: relative;
            width: 100%;
            height: 20%;

            .mainLogo, .logoBack{
                position: absolute;
                top: 50%;
                left: 50%;
            }
            .mainLogo{
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                width: 25vw;
            } 
        }
        >h1{
            top: 30%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            font-size: 3vw;
            width: 100%;
            text-align: center;
        }
        
    }
    .rigthContainer{
        width: 70%;
        height: 100%;
        overflow: hidden;
        
        .topContainer{
            width: 100%;
            height: 10%;
            display: flex;
            >div{
                height: 100%;
            }
            .searchBar{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                .ant-select{
                    width: 80%;
                    height: 5vh;

                    .ant-input-affix-wrapper{
                        background-color: $mainGrey;
                        height: 5vh;
                        border-radius: 2.5vh;
                        border: none;

                        input{
                            background-color: transparent;
                        }
                    }
                }
            }
            .menu{
                width: 50%;
                display: flex;
                flex-direction: row-reverse;;
                align-items: center;
                
                .socialIcon{
                    margin: 10px;
                    float: right;
                    img{
                        width: 30px;
                    }
                }

                a{
                    color: $darkGrey;
                    font-size: 1.2em;
                    margin: 10px;
                }
                .iconCart{
                    font-size: 2em;
                    color: $darkGrey;
                }

                .profileUser{
                    cursor: pointer;
                    margin: 20px;
                }
            }
        }
    }

    .mainContent{
        position: absolute;
        width: 100vw;
        height: 80vh;
        top: 20vh;
        left: 0;
    }
    button{
        border-radius: 50px ;
        background-color: $mainBlue !important;
        color: #ffffff;
        border: none;
    }
    button:active, button:focus{
        background-color: $mainBlue;
        color: #ffffff; 
        outline: none;
    }
    button:hover {
        background-color: rgba($color: $mainBlue, $alpha: 0.8) !important;
        color: #ffffff;
    }

    .footer{
        position: absolute;
        width: calc(70vw - 10px);
        height: 3vh;
        top: 97vh;
        left: 30vw;
        background-color: #ffffff;
        span{
            float: right;
            margin-right: 20px;
        }
    }
}

.ant-dropdown{
    border-radius: 25px;
    ul{
        border-radius: 15px;
        padding: 10px;
    }
    .logOutButton{
        color: #FC3740;
        
    }
}
